@mixin border-card {
  border: 1px solid $primary;
  border-radius: 3px;
}
@mixin my-buttons {
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  color: $button-text;
  background-color: $button-background;
  border-radius: 3px;
  border: 1px solid $button-border;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  cursor: pointer;
}
@mixin my-buttons-hover {
  background-color: $button-bg-hover;
  border-color: $button-border-hover;
}
