@mixin border-card {
  border: 1px solid $primary;
  border-radius: 3px;
}
@mixin my-buttons {
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  cursor: default;
  background-color: $main-background-color;
  border-radius: 25%;
  border: 1px solid $button-color;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}
@mixin my-buttons-hover {
  background-color: $accent-color;
  border-color: $button-hover-color;
}
