$main-background-color: #ffffff;
$accent-color: #a49ede;
$button-color: #a49ede;
$button-hover-color: #f4e6ee;
$main-font-color: #050316;

$text: #050316;
$background: #ffffff;
$primary: #5b51b8;
$secondary: #a49ede;
$accent: #796fd7;
