$main-background-color: #ffffff;
$accent-color: #a49ede;
$button-color: #a49ede;
$button-hover-color: #796fd7;
$main-font-color: #050316;
$submit-button-background: rgb(159, 207, 159);

$primary: #5b51b8;
$secondary: #a49ede;
$accent: #796fd7;
